.main-full-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
  background: url("pic/background/3.jpg") no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.6;
}

.main-center-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.main-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  padding-left: 27px;
  letter-spacing: 0.9em;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-footer-container {
  font-family: Avenir;
  position: absolute;
  bottom: 200px;
  left: 0px;
  color: #EEEEEE;
  font-size: 14px;
  letter-spacing: 0.2em;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.social-media-icon {
  width: 32px;
  padding: 8px;
}

.social-media-link {
  text-decoration: none;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px)
  and (orientation : portrait) {
  .main-title {
    font-size: 80px;
    padding-left: 72px;
    line-height: 0.8em;
  }

  .social-media-icon {
    width: 72px;
    padding: 40px;
  }

  .main-footer-container {
    bottom: 400px;
  }
}
